# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# build output
/.next/
/out/

# static analysis cache
/.eslintcache

# misc
/.env.local
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.pnp.cjs
